<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../style/recruit.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_561719_o6rpz85spg9tqpvi.css">
</head>
<body>
<div class="page-header">
    <img src="../recruitment_img/recruitment_02.png" alt="">
</div>
<div class="content-box">
    <img src="../recruitment_img/recruitment_04.png" alt="">
    <img src="../recruitment_img/recruitment_06.png" alt="">
    <img src="../recruitment_img/recruitment_08.png" alt="">
</div>
<div class="footer-content">
    <p><span class="line-decoration"></span>咨询热线 <span class="line-decoration"></span></p>
    <p><i class="icon-font iconfont  icon-phone"></i><span class="phone-number">{{phone}}</span></p>
</div>
</body>
</html>